<ion-content padding class="background">
  <div style="position: relative">
    <ion-img src="assets/images/invito.png" alt="invito matrimonio luigi e simona" style="margin-top: 10px;"></ion-img>
    <div text-center class="cuore-1 cursor" [style.top]="positionTopHeath + 'px !important'" [style.left]="wc1 + 'px !important'">
      <div class="sc__wrapper">
        <div id="js--sc--container"></div>
      </div>
    </div>
    <div text-center class="cuore-2" [style.top]="positionTopHeath + 'px !important'" [style.left]="wc2 + 'px !important'">
      <div class="sc__wrapper">
        <div id="js--sc--container2"></div>
      </div>
    </div>
    <div text-center class="cuore-3" [style.top]="positionTopHeath + 'px !important'" [style.left]="wc3 + 'px !important'">
      <div class="sc__wrapper">
        <div id="js--sc--container3"></div>
      </div>
    </div>
  </div>

</ion-content>
