.scratch-card-bottom{
  margin-top:20px;
  .card-bottom-text{
    font-size:1.2em;
  }
}

ion-content.background{
  --background: url(../../assets/invito/sfondo.webp) 0 0/100% 100% no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.background-invito{
  --background: url(../../assets/invito/invito.webp) no-repeat;
}

.cuore-1 {
  top: 431px;
  position: absolute;
  left: 107px;
}

.cuore-2 {
  top: 431px;
  position: absolute;
  left: 170px;
}

.cuore-3 {
  top: 431px;
  position: absolute;
  left: 253px;
}

.cuori {
  top: 431px;
  position: absolute;
  // width: 100%;
}

.cursor {
  cursor: pointer;
}

.bottone {
  position: absolute;
  top: 358px;
  width: inherit;
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
}

video {
  pointer-events: none;
}

.rotate_image {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
